 - name: create application user
   ansible.builtin.user:
      name: roboshop

 - name: delete old app dirctory
   ansible.builtin.file:
   path: /app
   state: absent

 - name: create app dirctory
   ansible.builtin.file:
   path: /app
   state: directory

 
- name: Download and Extract {{ component }} Content
  ansible.builtin.unarchive:
    src: https://roboshop-artifacts.s3.amazonaws.com/{{ component }}.zip
    dest: /app
    remote_src: yes  


